.Toolbar
{
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #cf8f2e;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    z-index: 90;
}

.Toolbar div
{
    color: white;
}